@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @include meta.load-css("base");
  @include meta.load-css("fonts");
}

@layer components {
  @include meta.load-css("prose");
  @include meta.load-css("glass");
  @include meta.load-css("glass-enhanced");
  @include meta.load-css("glass-liquid-border");
  @include meta.load-css("sf-pro-font");
  @include meta.load-css("vision-pro");
}

@layer utilities {
  @include meta.load-css("utilities");
}
